<div class="grid-100 row controls">
  <div class="grid-30">

    <select ng-change="narrowByCategory()"
            ng-options="category.name for category in allCategories"
            ng-model="selectedCategory">
      <option value="">All Categories</option>
    </select>
  </div>
  <div class="grid-70">
    <div class="flush-right">
      <button ng-click="addRecipe()">+ Add Recipe</button>
    </div>
  </div>
</div>
<div class="clear"></div>

<div ng-hide="recipesToDisplay.length > 0" class="grid-100 row">
  <div class="grid-70">
    <p>No recipes found!</p>
  </div>
</div>

<div ng-repeat="recipe in recipesToDisplay"
     ng-show="recipesToDisplay.length > 0"class="grid-100 row addHover">
  <a href="#/edit/{{recipe._id}}">
    <div class="grid-70">
      <p>
        {{recipe.name}} ({{recipe.category}})
      </p>
    </div>
  </a>
  <div class="hoverBlock">
    <div class="grid-30">
      <div class="flush-right">
        <p>
          <a href="#/edit/{{recipe._id}}"> <img src="images/edit.svg" height="12px"> Edit </a>
          <a ng-click="deleteRecipe(recipe._id)" class="no-action-link"> <img src="images/delete.svg" height="12px"> Delete </a>
        </p>
      </div>
    </div>
  </div>
</div>
